.product-list-container {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  
  .cart-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .cart-icon:hover {
    transform: scale(1.1);
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .product-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .product-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-item:hover {
    transform: translateY(-5px);
  }
  
  .product-image {
    width: 190px;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
    background-size: contain;
    background-color: #fff;
}

  
  .product-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .quantity-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  .quantity-btn-first {
    background-color: red;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }  
  .add-to-cart-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 8px;
  }